<<<<<<< HEAD

* {
    margin: 0;
    padding: 0;
}
header img {width: 75px;}

footer button { color: blue;
    
}
=======

* {
    margin: 0;
    padding: 0;
}
header img {width: 75px;}

footer button { color: blue;
    
}

>>>>>>> 87e2ca8bcfd6559a2d261f55eef4633a0d2fce80
